{
	"presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-typescript"],
	"ignore": ["node_modules", "**/*.ts", "**/*.tsx"],
	"overrides": [
		{
			"test": "./src/ui/**/*",
			"presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-typescript"]
		}
	]
}
